*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ratFlip{
    position: relative;
}

.ratFlip img{
    position: absolute;
    width: 20em;
    height: 19em;
    transition: opacity 0.5s ease-in-out;
}

.ratFlip:hover .noFlip{
    opacity: 0;
}